{
    "semi": true,
    "singleQuote": true,
    "endOfLine": "auto",
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.less"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
