.message {
    display: flex;
    max-width: 65%;
}

.incoming {
    align-self: flex-start;
}

.outgoing {
    align-self: flex-end;
}

.bubble {
    display: flex;
    padding: 8px 12px;
    flex-wrap: wrap;
    align-items: flex-end;
    color: var(--chat-text-primary);
    font-size: 14px;
    line-height: 20px;
    word-break: break-word;
    background-color: var(--background);
    border-radius: 12px;
    column-gap: 8px;
    overflow-wrap: anywhere;
}

.outgoing .bubble {
    background-color: var(--chat-outgoing-bubble);
}

.sender {
    margin-bottom: 2px;
    flex-basis: 100%;
    color: var(--chat-accent);
    font-size: 12px;
    font-weight: 600;
}

.text {
    min-width: 0;
    flex: 1;
    white-space: pre-wrap;
}

.time {
    flex-shrink: 0;
    color: var(--chat-text-secondary);
    font-size: 11px;
    line-height: 16px;
    transform: translateY(1px);
}
